/*
 * Custom translucent site header
 */

.site-header {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #8e8e8e;
  transition: color .15s ease-in-out;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

/*
 * Dummy devices (replace them with your own or something else entirely!)
 */

.product-device {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  background-color: #333;
  border-radius: 21px;
  transform: rotate(30deg);
}

.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-color: rgba(255, 255, 255, .1);
  border-radius: 5px;
}

.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #e5e5e5;
}


/*
 * Extra utilities
 */

.flex-equal > * {
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    flex: 1;
  }
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
  font-size: 3.5rem;
  }
}

.btn {
  background-color: #00b4b4;
  color: #ffff;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
        
* {
  font-family: 'Poppins', 'Inter', sans-serif !important;
}
        
body .porto {
  background-color: #ffff;
  padding: 50px 30px;
}
        
@media only screen and (min-width: 768px) {
  body .porto {
  padding-top: 140px;
  padding-bottom: 100px;
}
}
        
body .porto .headline {
  font-size: 20px;
  font-weight: 600;
  color: #00b4b4;
  z-index: 1;
  text-align: left;
}
        
body .porto .link {
  font: 700 1rem/1.5rem Poppins, sans-serif;
  color: #ffff;
  z-index: 1;
  border-radius: 0.75rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1.25rem;
}
        
body .porto .sub-headline {
  padding-top: 28px;
  font-size: 16px;
  font-weight: 400;
  color: #888888;
  z-index: 1;
}
        
@media only screen and (min-width: 768px) {
  body .porto .sub-headline {
    font-size: 20px;
  }
}
        
body .porto .porto-img {
  margin-top: 45px;
}
        
body .porto .porto-img div {
  z-index: 1;
}
        
@media only screen and (min-width: 768px) {
  body .porto .porto-img {
    margin-top: 96px;
  }
}
        
body .porto .porto-img-full {
  z-index: 1;
}
        
@media only screen and (max-width: 768px) {
  body .porto .porto-img-full {
    width: 100px !important;
  }
}
        
body .porto .porto-img-half {
  z-index: 1;
}
        
@media only screen and (max-width: 768px) {
  body .porto .porto-img-half {
    height: 70px !important;
  }
}
        
body .cl-light {
  color: #EEEEEE;
}

body .cl-light-grey-2 {
  color: #90BCB7;
}

body .font-lora {
  font-family: 'Lora', sans-serif !important;
}